.section-1 {
  width: 100svw;
  height: 100svh;
  max-height: 900px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #5a8c9c;
  background-image: var(--image-i24f8a387);
  background-position: 0 0;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section-1.contact {
  width: 100svw;
  max-height: none;
  background-color: #fff;
  background-image: var(--image-i128c1502);
  background-position: 0 0;
  background-size: cover;
}

.hero-section {
  width: 90dvw;
  height: 100%;
  max-width: 1440px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: rgba(90, 140, 156, 0);
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 80px 0 100px 0;
  display: flex;
}

.hero-header {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 4em;
  font-weight: 500;
  line-height: 100%;
}

.hero-header.about {
  width: 55%;
}

.hero-header.metatext {
  font-size: 1.5em;
}

.section-2 {
  width: 100svw;
  height: 640px;
  max-width: none;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 140px;
  display: flex;
}

.section-2.why-us {
  height: 550px;
  padding-top: 140px;
  padding-bottom: 100px;
}

.frame-13 {
  width: 90dvw;
  height: auto;
  max-width: 1440px;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  display: flex;
}

.frame-13.about {
  text-align: center;
  justify-content: center;
}

.frame-13.why-us {
  opacity: 0;
  justify-content: center;
}

.frame-13.business {
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.frame-13.contact-us {
  z-index: 2;
  position: absolute;
}

.frame-14 {
  width: 50%;
  height: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.frame-14.about {
  width: 70vw;
}

.frame-14.why-us {
  width: 70%;
  align-items: center;
}

.frame-14.contact {
  width: 100%;
  height: auto;
}

.frame-18 {
  width: 100%;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.frame-18.about {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  align-items: center;
}

.frame-18.why-us {
  opacity: 1;
}

.frame-18.why-us._2 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  align-items: center;
}

.text {
  color: #828f8d;
  font-size: 18px;
  font-weight: 500;
}

.text.contact-us {
  color: #2c4046;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 135%;
}

.text.contact-us.metatext {
  color: #5b7780;
  font-size: 16px;
  font-weight: 400;
}

.text.contact-us.address {
  width: 70%;
}

.text.contact-us.inquiry {
  width: 70%;
  font-size: 30px;
}

.section-heading {
  width: 100%;
  color: #2c4046;
  letter-spacing: -.02em;
  font-family: Inter, sans-serif;
  font-size: 3em;
  font-weight: 500;
  line-height: 120%;
}

.section-heading.about {
  color: #2c4046;
  font-size: 2.2em;
  font-weight: 400;
}

.section-heading.why-us {
  color: #a2b8be;
  text-align: center;
  font-size: 3.5em;
  font-weight: 400;
}

.section-heading.why-us._2 {
  color: #2c4046;
  font-size: 2.5em;
  font-weight: 500;
}

.section-heading.business {
  margin-bottom: 20px;
  font-size: 2.5em;
}

.light-button {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border: 1px solid #d2dbdd;
  border-radius: 100px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.light-button:hover {
  background-color: #d0dfe2;
  border-color: rgba(210, 219, 221, 0);
}

.light-text-button {
  color: #2c4046;
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.frame-19 {
  width: 50%;
  height: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 2em;
  display: flex;
}

.frame-19.business {
  width: auto;
  grid-column-gap: 40px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  display: grid;
}

.frame-19.contact, .frame-19.contact-points {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  margin-top: 40px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.point-div {
  grid-column-gap: 22px;
  grid-row-gap: 22px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.point-div.contact {
  height: 100%;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  align-items: flex-start;
}

.vectors-wrapper {
  width: auto;
  height: 75%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper._1 {
  height: 75%;
}

.vectors-wrapper._3 {
  height: 73%;
}

.point-frame {
  height: 70px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
}

.point-frame.contact {
  height: 100%;
  justify-content: flex-start;
}

.small-title {
  color: #2c4046;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: static;
}

.texts {
  max-width: 300px;
  min-width: 250px;
  color: #869598;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 135%;
}

.texts.contact {
  max-width: none;
  min-width: auto;
  color: #637579;
}

.point-frame-2 {
  height: 70px;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.point-div-2 {
  grid-column-gap: 22px;
  grid-row-gap: 22px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.navbar-section {
  width: 100%;
  height: 78px;
  max-width: none;
  grid-column-gap: 0%;
  grid-row-gap: 0%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
}

.navbar-section.white {
  background-color: #fff;
}

.navbar-section.transparent {
  z-index: 21;
  width: 100svw;
  border-bottom: 1px solid rgba(226, 226, 226, 0);
  display: flex;
}

.navbar {
  width: 100dvw;
  height: 78px;
  max-width: 1440px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-left: 5dvw;
  padding-right: 5dvw;
  display: flex;
  position: relative;
  top: 0;
}

.navbar.menu {
  z-index: 10;
}

.logo {
  width: 88px;
  height: auto;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  overflow: visible;
}

.logo.black {
  position: absolute;
}

.logo.white {
  position: static;
}

.logo.black-dropdown {
  display: none;
  position: absolute;
}

.menu-button {
  z-index: auto;
  width: 120px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  cursor: pointer;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 2.5dvw;
  padding: 8px 12px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.menu-button.close {
  display: none;
}

.menu-text-button {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.vectors-wrapper-3 {
  width: 17px;
  height: 12px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section-3 {
  width: 100svw;
  height: auto;
  max-width: none;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.section-3.why-us {
  padding-top: 80px;
}

.section-3.business {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  padding-top: 80px;
}

.horizontal-frame-title {
  width: 100%;
  height: auto;
  max-width: 1440px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0;
  display: flex;
}

.text-2 {
  height: 100%;
  color: #2c4046;
  font-family: Inter, sans-serif;
  font-size: 36px;
  font-weight: 500;
}

.horizontal-scroll-frame {
  width: 100dvw;
  max-width: none;
  grid-column-gap: 22px;
  grid-row-gap: 22px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0;
  padding-left: 5.5dvw;
  padding-right: 0;
  display: flex;
  overflow: scroll;
}

.horizontal-scroll-frame.why-us {
  width: 90dvw;
  align-items: center;
  padding-left: 2.5dvw;
  padding-right: 2.5dvw;
  overflow: visible;
}

.business-section-div {
  width: 100%;
  max-width: none;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.business-tile {
  width: 40dvw;
  height: 36em;
  max-width: none;
  background-color: #2c4046;
  background-image: var(--image-7b40fadb);
  background-position: 0 0;
  background-size: auto;
  border-radius: 12px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 35px 35px 30px;
  display: flex;
}

.business-tile.architecture {
  height: 36em;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-image: var(--image-708ed7f8);
  background-position: 50%;
  background-size: cover;
  justify-content: flex-start;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.business-tile.construction {
  height: 36em;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-image: var(--image-i23c1a0a9);
  background-position: 50%;
  background-size: cover;
  justify-content: flex-start;
}

.business-tile.landscape {
  height: 36em;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-image: var(--image-i128c1502);
  background-position: 100% 100%;
  background-size: cover;
  justify-content: flex-start;
}

.company-frame-home {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.company-title-home {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.business-title-heading-home {
  width: 100%;
  color: #fff;
  letter-spacing: -.02em;
  font-family: Inter, sans-serif;
  font-size: 2em;
  font-weight: 400;
  line-height: 110%;
}

.dark-button {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, .24);
  border-radius: 100px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 25px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.dark-button:hover {
  background-color: rgba(15, 24, 26, .56);
}

.white-text-button {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.section-4 {
  width: 100svw;
  height: auto;
  max-width: none;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  display: none;
}

.section-4.hidden {
  display: none;
}

.partner-section {
  grid-column-gap: 22px;
  grid-row-gap: 22px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: none;
}

.title-partner {
  color: #2c4046;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.partners-logos-div {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.logo-div {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border: 1px solid #cdd3d4;
  border-radius: 7px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  display: flex;
}

.text-sample {
  color: #828f8d;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
}

.section-5 {
  width: 100svw;
  height: auto;
  max-width: none;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 60px;
  display: flex;
}

.section-5.contact-us {
  display: none;
}

.section-5.home {
  height: 100svh;
  padding-top: 40px;
  position: relative;
}

.why-us-tile {
  width: 100%;
  height: 50em;
  max-width: none;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #fff;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.why-us-tile.about {
  height: 700px;
}

.why-frame {
  z-index: 3;
  width: 35em;
  height: auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: absolute;
}

.why-text-div {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 24px;
  display: flex;
  position: relative;
}

.why-title {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.why-heading-text {
  color: #fff;
  letter-spacing: -.01em;
  font-size: 44px;
  font-weight: 500;
  line-height: 110%;
}

.dark-text-button {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.section-6 {
  width: 100svw;
  height: 36em;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border: 0 solid #bfd2d8;
  border-top: 1px #eaf0f1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.frame-9 {
  height: 100%;
  max-width: 1000px;
  grid-column-gap: 140px;
  grid-row-gap: 140px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0;
  padding-bottom: 7em;
  display: flex;
}

.text-3 {
  color: #597178;
  text-align: center;
  letter-spacing: -.01em;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
}

.frame-20 {
  z-index: 0;
  width: auto;
  max-width: none;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  opacity: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: visible;
}

.frame-20:hover {
  opacity: 1;
}

.frame-20._1 {
  z-index: 0;
  opacity: 1;
}

.frame-20._1:hover {
  opacity: 1;
}

.text-4 {
  width: 100%;
  color: #c2d7db;
  letter-spacing: -.04em;
  -webkit-text-stroke-color: #899da2;
  white-space: nowrap;
  word-break: normal;
  overflow-wrap: normal;
  font-family: Inter, sans-serif;
  font-size: 144px;
  font-weight: 500;
  line-height: 100%;
  transition: all .5s, opacity .5s cubic-bezier(.455, .03, .515, .955);
}

.text-4:hover {
  color: #254953;
  text-decoration: none;
}

.text-4._1 {
  color: #254953;
}

.footer-section {
  width: 100svw;
  height: 60dvh;
  max-height: 600px;
  max-width: none;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #f3f7f8;
  border: 0 solid #bfd2d8;
  border-top: 1px solid #eaf0f1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer-container {
  width: 90dvw;
  height: 100%;
  max-width: 1440px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.upper-footer-div {
  width: 100%;
  max-width: none;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-links {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-link {
  color: #2c4046;
  letter-spacing: -.02em;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
}

.footer-esk-logo-div {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-4 {
  width: 40px;
  height: auto;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.lower-footer-div {
  width: 100%;
  max-width: none;
  justify-content: space-between;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
}

.company-copyright-div {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.company-copyright-text {
  color: #6e7a7e;
  letter-spacing: -.02em;
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 100%;
}

.social-media-div {
  height: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.body {
  overflow: scroll;
}

.div-block {
  width: 90dvw;
  height: 100%;
  max-width: 1440px;
  flex-direction: row;
  flex: 0 auto;
  align-items: flex-start;
  padding: 60px;
  display: flex;
  position: relative;
}

.menu-text-button-2 {
  width: auto;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
}

.menu-text-button-2.black {
  width: auto;
  color: #2c4046;
  font-weight: 500;
  text-decoration: none;
}

.menu-text-button-2.close {
  width: auto;
  color: #2c4046;
  font-weight: 500;
  text-decoration: none;
  display: none;
}

.hamburger-menu {
  width: 20px;
  height: 14px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hamburger-menu.white {
  -webkit-text-fill-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  position: absolute;
}

.hamburger-menu.black {
  filter: invert();
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  background-clip: content-box;
  position: absolute;
}

.socmed-div-icon {
  width: 24px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.div-block-2 {
  width: 100%;
}

.our-business {
  width: 90dvw;
  max-width: 1440px;
  min-height: auto;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.link-block, .link-block-2, .link-block-3, .link-block-4, .link-block---footer, .link-block-6 {
  text-decoration: none;
}

.endless-loop {
  width: 100vw;
  height: 150px;
  max-width: 100vw;
  position: relative;
  overflow: hidden;
}

.get-in-touch-link {
  opacity: 1;
  border: 1px #000;
  border-bottom: 6px solid rgba(197, 197, 197, 0);
  text-decoration: none;
  transition: opacity .5s cubic-bezier(.455, .03, .515, .955), border .5s cubic-bezier(.455, .03, .515, .955);
}

.get-in-touch-link:hover {
  opacity: 1;
  border-bottom-width: 6px;
  border-bottom-color: #496269;
  text-decoration: none;
}

.get-in-touch-link._1 {
  opacity: 1;
}

.div-block-3 {
  width: 100%;
  height: 508vh;
  margin-top: 0;
  position: absolute;
  top: 550px;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.div-block-4 {
  width: 30px;
  height: 14px;
  max-width: 100%;
  position: relative;
}

.div-block-4.close {
  width: 16px;
}

.div-block-4.menu {
  width: 30px;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-5 {
  z-index: 10;
  width: auto;
  height: 30px;
  max-width: 500px;
  min-width: 150px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-items: center;
  margin-left: 0;
  display: flex;
  position: relative;
}

.div-block-7 {
  width: 100%;
  height: 55vh;
  margin-top: 0;
  position: absolute;
  top: 60px;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.navbar-section-white {
  width: 100%;
  height: 78px;
  max-width: none;
  grid-column-gap: 0%;
  grid-row-gap: 0%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
}

.navbar-section-white.white {
  z-index: 20;
  width: 100svw;
  background-color: #fff;
  border-bottom: 1px solid rgba(214, 214, 214, .4);
}

.div-block-8 {
  height: 2px;
}

.text-block {
  position: relative;
}

.page-title {
  color: #2c4046;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.page-title.white {
  color: #fff;
}

.leader-title-heading-about {
  width: 100%;
  color: #2c4046;
  letter-spacing: -.02em;
  font-family: Inter, sans-serif;
  font-size: 2em;
  font-weight: 400;
  line-height: 110%;
}

.leadership-title-about {
  color: #7997a0;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.leadership-tile {
  width: 32dvw;
  height: 70vh;
  max-height: 540px;
  max-width: none;
  background-color: #2c4046;
  background-image: var(--image-7b40fadb);
  background-position: 0 0;
  background-size: auto;
  border-radius: 12px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px;
  display: flex;
}

.leadership-tile.bi-sono, .leadership-tile.michael, .leadership-tile.tjhie {
  width: 32dvw;
  height: 65vh;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: #f5f5f5;
  background-image: none;
  justify-content: flex-start;
}

.leadership-tile.arvin {
  width: 35dvw;
  height: 70vh;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 32dvw;
  height: 65vh;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: #f5f5f5;
  background-image: none;
  background-position: 100% 100%;
  background-size: cover;
  justify-content: flex-start;
}

.why-us-text-span {
  color: #2c4046;
  font-weight: 400;
}

.why-us-architecture {
  color: #2c4046;
}

.why-us-card {
  width: 40dvw;
  height: 80dvh;
  max-width: none;
  background-color: #2c4046;
  background-image: var(--image-7b40fadb);
  background-position: 0 0;
  background-size: auto;
  border-radius: 12px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px;
  display: flex;
}

.why-us-card.architecture {
  width: 50%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-image: var(--image-35e4d0cb);
  background-position: 50%;
  background-size: cover;
  justify-content: flex-start;
}

.why-us-card.construction {
  width: 50%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-image: var(--image-i23c1a0a9);
  background-position: 50%;
  background-size: cover;
  justify-content: flex-start;
}

.why-us-card.landscape {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-image: var(--image-i128c1502);
  background-position: 100% 100%;
  background-size: cover;
  justify-content: flex-start;
}

.why-us-card.full {
  width: 100%;
  max-width: none;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-image: var(--image-i23c1a0a9);
  background-position: 50%;
  background-size: cover;
  justify-content: flex-start;
}

.why-us-cards-container {
  width: 90dvw;
  max-width: 1440px;
  min-height: auto;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.why-us-text-card {
  width: 100%;
  color: #fff;
  letter-spacing: -.02em;
  font-family: Inter, sans-serif;
  font-size: 2.2em;
  font-weight: 500;
  line-height: 110%;
}

.icon-div {
  width: 60px;
  height: 60px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 20em;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 2px;
  padding: 12px;
  display: flex;
}

.section-3a {
  width: 100svw;
  height: auto;
  max-width: none;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.section-3a.why-us {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  padding-top: 60px;
}

.text-description {
  width: 100%;
  color: #2c4046;
  letter-spacing: -.02em;
  font-family: Inter, sans-serif;
  font-size: 3em;
  font-weight: 500;
  line-height: 120%;
}

.text-description.about {
  color: #2c4046;
  font-size: 2.2em;
  font-weight: 400;
}

.text-description.why-us {
  width: auto;
  color: #738f97;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 140%;
}

.text-description.why-us._2 {
  font-size: 2.5em;
  font-weight: 500;
}

.text-description.business {
  width: auto;
  color: #738f97;
  text-align: left;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 140%;
}

.text-description.business._2 {
  font-size: 2.5em;
  font-weight: 500;
}

.feature-desc {
  max-width: 300px;
  min-width: auto;
  color: #869598;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 135%;
}

.html-embed {
  width: 80%;
  height: 80%;
  aspect-ratio: auto;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

.icon-frame {
  width: auto;
  height: 70px;
  aspect-ratio: 1 / 1;
  border: 1px solid #dadada;
  border-radius: 20em;
  justify-content: center;
  align-items: center;
  padding: 10px;
  display: flex;
  position: relative;
}

.leader-frame-home {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image {
  filter: invert();
}

.image-invert {
  opacity: .8;
  filter: invert();
}

.frame {
  width: 90dvw;
  height: auto;
  max-width: 1440px;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  display: flex;
}

.frame.about {
  text-align: center;
  justify-content: center;
}

.frame.why-us {
  opacity: 0;
  justify-content: center;
}

.frame.business {
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.frame.contact-us {
  z-index: auto;
  width: 100%;
  height: 60svh;
  max-width: 1440px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #fff;
  border-radius: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 50px 50px 0;
  position: relative;
  top: auto;
  bottom: auto;
}

.frame.contact-us.bg {
  position: absolute;
  bottom: auto;
}

.frame.contact-us.enquiry {
  height: 100%;
  display: none;
}

.contact-us-hero-section {
  z-index: 1;
  width: auto;
  height: auto;
  max-width: none;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: rgba(90, 140, 156, 0);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 0 100px 0;
  display: block;
  position: relative;
  top: auto;
  bottom: 0;
  left: 0;
}

.contact-us-header {
  color: #fff;
  margin-top: 0;
  font-family: Inter, sans-serif;
  font-size: 4em;
  font-weight: 500;
  line-height: 100%;
}

.contact-us-header.about {
  width: 55%;
}

.contact-us-header.metatext {
  font-size: 1.5em;
}

.frame-bg {
  width: 90dvw;
  height: auto;
  max-width: 1440px;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  display: flex;
}

.frame-bg.about {
  text-align: center;
  justify-content: center;
}

.frame-bg.why-us {
  opacity: 0;
  justify-content: center;
}

.frame-bg.business {
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.frame-bg.contact-us {
  z-index: 2;
  height: 500px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #fff;
  border-radius: 20px;
  flex-direction: column;
  align-items: flex-start;
  padding: 75px;
  position: relative;
  top: auto;
  bottom: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
}

.frame-bg.contact-us.bg {
  z-index: 0;
  width: 100dvw;
  height: 75%;
  box-shadow: none;
  background-image: var(--image-i128c1502);
  background-position: 0 100%;
  background-size: cover;
  border-radius: 0;
  position: absolute;
  bottom: auto;
}

.div-block-9 {
  width: 9dvw;
  height: 100%;
  max-width: 1440px;
  flex-direction: row;
  justify-content: center;
  padding-left: 5dvw;
  padding-right: 5dvw;
  display: flex;
  position: relative;
}

.icon-contact {
  width: auto;
  height: 60%;
  opacity: 1;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon-contact._1 {
  height: 75%;
}

.icon-contact._3 {
  height: 73%;
}

.section-1a {
  width: 100svw;
  height: 100svh;
  max-height: 900px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #5a8c9c;
  background-image: var(--image-i24f8a387);
  background-position: 0 0;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section-1a.contact {
  max-height: none;
  background-color: #fff;
  background-image: none;
  padding-top: 60px;
}

.contact-us-hero-container {
  width: 90vw;
  height: 100%;
  max-width: 1440px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.div-block-10 {
  width: 90vw;
  max-width: 1440px;
  display: flex;
  position: relative;
}

.form-block {
  width: 100%;
  padding-left: 0;
  padding-right: 40px;
}

.text-field {
  width: 100%;
  color: #202020;
  border: 1px #dadada;
  border-bottom: 1px solid #c4d3d8;
  border-radius: 0;
  padding-top: 14px;
  padding-bottom: 14px;
}

.text-field:focus {
  border-bottom-color: #2c4046;
}

.text-field::-ms-input-placeholder {
  color: #465c63;
  text-indent: 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 135%;
}

.text-field::placeholder {
  color: #465c63;
  text-indent: 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 135%;
}

.text-field.message {
  min-height: 100px;
  font-family: Inter, sans-serif;
}

.field-label {
  font-family: Inter, sans-serif;
  font-weight: 500;
  display: none;
}

.field-label.select {
  padding-left: 15px;
  font-size: 13px;
  display: flex;
}

.form {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  padding-right: 20px;
  display: flex;
}

.div-block-11 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  display: flex;
}

.div-block-12 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  display: flex;
}

.submit-button {
  background-color: #2c4046;
  border-radius: 10px;
  flex: 0 auto;
  padding: 12px 40px;
  font-family: Inter, sans-serif;
  font-size: 1em;
  transition: all .2s;
  position: relative;
}

.submit-button:hover {
  background-color: #37525a;
}

.submit-button:active {
  background-color: #24353a;
}

.div-block-13 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  display: flex;
}

.dropdown-2 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
}

.dropdown-toggle-5 {
  width: 100%;
  min-width: 0;
  background-color: #fff;
  border: 1px #e0e0e0;
  border-bottom: 1px solid #c4d3d8;
  border-radius: 0;
  align-items: center;
  margin-bottom: 10px;
  padding: 14px;
  display: flex;
}

.icon {
  color: #7e7e7e;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
}

.image-6 {
  width: 12px;
  opacity: .75;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0);
  margin-right: 8px;
}

.text-block-80 {
  color: #444;
  letter-spacing: -.01em;
  margin-right: 2px;
  font-family: Inter, sans-serif;
  font-size: 13.5px;
  font-weight: 500;
  line-height: 135%;
  display: inline;
}

.dropdown-list-2 {
  margin-top: 0;
  top: 45px;
  overflow: scroll;
}

.dropdown-list-2.w--open {
  height: 300px;
  background-color: #fff;
  border: .5px solid #dbdbdb;
  border-radius: 10px;
  margin-top: 10px;
}

.filter_select {
  min-height: 3.6rem;
  cursor: pointer;
  border: 1px #000;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  display: none;
}

.select-field {
  display: none;
}

.div-block-14 {
  margin-top: 0;
}

.div-block-15 {
  height: 50px;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contact-link {
  opacity: .8;
  text-decoration: none;
  transition: all .2s;
}

.contact-link:hover {
  opacity: 1;
  text-decoration: none;
}

.link-block-7 {
  position: relative;
}

.image-7 {
  width: 100%;
  height: 100%;
  border-radius: 0;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.company-head-frame {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.navbar-menu {
  width: 100%;
  height: 78px;
  max-width: none;
  grid-column-gap: 0%;
  grid-row-gap: 0%;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
}

.navbar-menu.white {
  z-index: 15;
  width: 100svw;
  background-color: #fff;
  border-bottom: 1px solid rgba(214, 214, 214, .4);
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  display: none;
}

.link-block-8 {
  cursor: pointer;
  text-decoration: none;
}

.close-menu {
  width: 20px;
  height: 14px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.close-menu.white {
  position: absolute;
}

.close-menu.black {
  width: 20px;
  opacity: .9;
  object-fit: fill;
  display: none;
  position: absolute;
}

.dropdown-3 {
  z-index: auto;
  width: 100dvw;
  max-width: 1440px;
  justify-content: flex-end;
  margin-left: 0;
  margin-right: 0;
  padding-right: 2.5dvw;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.dropdown-4 {
  margin-left: 0;
}

.dropdown-toggle-6 {
  padding-right: 20px;
}

.dropdown-toggle-7 {
  z-index: 10;
  cursor: pointer;
  justify-content: flex-end;
  margin-left: 0;
  margin-right: 0;
  padding-right: 20px;
  display: flex;
}

.dropdown-list-3 {
  z-index: 8;
  width: 100dvw;
  height: 422px;
  margin-top: 78px;
  padding-top: 0;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.dropdown-list-3.w--open {
  height: 400px;
  background-color: #fff;
  flex-direction: column;
  padding-top: 40px;
  display: flex;
}

.dropdown-link {
  color: #2c4046;
  letter-spacing: -.1px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5dvw;
  padding-left: 0;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 100%;
  display: inline-block;
}

.div-block-16 {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.div-block-17 {
  width: 90%;
  height: 100%;
  align-items: center;
  display: flex;
}

@media screen and (min-width: 1440px) {
  .navbar {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  .logo.black, .logo.white {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .logo.black-dropdown {
    display: none;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .menu-button {
    z-index: 30;
    width: 120px;
  }

  .menu-button.close {
    margin-right: auto;
    display: flex;
    position: absolute;
  }

  .menu-button.black {
    z-index: 31;
  }

  .menu-text-button-2 {
    position: absolute;
  }

  .menu-text-button-2.black {
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
  }

  .menu-text-button-2.close {
    width: auto;
    height: auto;
    opacity: 1;
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
  }

  .hamburger-menu.white {
    height: 14px;
    top: auto;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .hamburger-menu.black {
    left: 0;
    right: 0;
  }

  .div-block-4.menu {
    width: 40px;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
  }

  .div-block-5 {
    z-index: 30;
    margin-left: 5dvw;
  }

  .div-block-5.black {
    z-index: 31;
  }

  .div-block-7 {
    top: 0;
  }

  .navbar-section-white.white {
    z-index: 21;
    display: none;
  }

  .dropdown-toggle-5 {
    background-color: #fff;
    transition: all .35s;
  }

  .dropdown-toggle-5:hover {
    background-color: #fafafa;
  }

  .dropdown-toggle-5:active {
    background-color: #e9eaec;
  }

  .close-menu.black {
    display: none;
    top: auto;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .dropdown-3 {
    max-width: none;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .dropdown-list-3 {
    margin-top: 78px;
    padding-top: 0;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .div-block-16 {
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
  }

  .div-block-17 {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    position: relative;
  }
}

@media screen and (max-width: 991px) {
  .section-1 {
    width: 100svw;
  }

  .hero-section {
    width: 80dvw;
  }

  .hero-header {
    font-size: 3.5em;
  }

  .section-2, .navbar-section.transparent {
    width: 100svw;
  }

  .navbar {
    width: 100dvw;
    justify-content: space-between;
  }

  .section-3 {
    width: 100svw;
    padding-top: 12svh;
    padding-bottom: 12svh;
  }

  .section-4 {
    width: 100svw;
    padding-top: 16svh;
    padding-bottom: 16svh;
  }

  .partners-logos-div {
    max-width: 100dvw;
    justify-content: center;
  }

  .section-5 {
    width: 100svw;
    padding-top: 12svh;
    padding-bottom: 12svh;
  }

  .why-us-tile {
    padding-left: 40px;
  }

  .why-frame {
    width: 100%;
  }

  .section-6 {
    width: 100svw;
    height: auto;
    padding-top: 10svh;
    padding-bottom: 10svh;
  }

  .frame-9 {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: space-around;
    padding-top: 0;
  }

  .frame-20 {
    width: 10000px;
    height: 100%;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    transform: scale(.8);
  }

  .frame-20._1 {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    transform: scale(.8);
  }

  .text-4 {
    font-size: 144px;
  }

  .footer-section {
    width: 100svw;
    padding-left: 10dvw;
    padding-right: 10dvw;
  }

  .footer-container {
    width: 80dvw;
  }

  .vectors-wrapper-4 {
    width: 40px;
    height: auto;
  }

  .endless-loop {
    height: 180px;
  }

  .get-in-touch-link, .get-in-touch-link._1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .div-block-5 {
    margin-left: 0;
  }

  .navbar-section-white.white {
    width: 100svw;
  }

  .section-3a {
    width: 100svw;
    padding-top: 12svh;
    padding-bottom: 12svh;
  }

  .contact-us-hero-section {
    width: 80dvw;
  }

  .contact-us-header {
    font-size: 3.5em;
  }

  .section-1a, .navbar-menu.white {
    width: 100svw;
  }
}

@media screen and (max-width: 767px) {
  .hero-header {
    font-size: 3em;
  }

  .section-2 {
    width: 100svw;
    height: 120svh;
    padding: 240px 60px;
  }

  .frame-13 {
    width: 75vw;
    height: auto;
    grid-column-gap: 90px;
    grid-row-gap: 90px;
    flex-direction: column;
    align-items: flex-start;
  }

  .frame-14 {
    width: 100%;
  }

  .frame-14.contact {
    align-items: center;
    padding-left: 0;
  }

  .frame-18 {
    width: 100%;
    align-items: center;
  }

  .frame-18.contact {
    align-items: flex-start;
  }

  .text.contact-us.address {
    width: 100%;
  }

  .text.contact-us.inquiry {
    text-align: center;
  }

  .frame-19 {
    width: 100%;
    padding: 20px 0;
  }

  .frame-19.contact {
    padding-left: 2dvw;
    padding-right: 2dvw;
  }

  .frame-19.contact-points {
    padding-left: 0;
    padding-right: 0;
  }

  .point-div {
    width: 100%;
  }

  .point-div.contact.mobile {
    grid-column-gap: 3px;
    grid-row-gap: 3px;
  }

  .point-frame {
    width: 100%;
  }

  .navbar {
    width: 100dvw;
    padding-left: 5dvw;
  }

  .section-3 {
    padding-left: 10dvw;
    padding-right: 10dvw;
  }

  .horizontal-scroll-frame {
    flex-direction: row;
    padding-left: 10dvw;
    padding-right: 10dvw;
  }

  .business-section-div {
    justify-content: flex-start;
  }

  .business-tile.architecture {
    width: 80dvw;
    height: 60dvh;
  }

  .business-tile.construction, .business-tile.landscape {
    width: 70dvw;
    height: 60dvh;
  }

  .partners-logos-div {
    justify-content: center;
  }

  .why-us-tile {
    height: 80svh;
    padding: 50px 40px;
  }

  .why-frame {
    height: auto;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }

  .why-heading-text {
    font-size: 2.2em;
  }

  .section-6 {
    padding-top: 5svh;
  }

  .frame-9 {
    width: auto;
  }

  .frame-20 {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    justify-content: center;
    transform: scale(.6);
  }

  .frame-20._1 {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    justify-content: center;
    position: absolute;
    transform: scale(.6);
  }

  .text-4 {
    font-size: 144px;
  }

  .footer-section {
    height: 85dvh;
    max-height: 700px;
  }

  .vectors-wrapper-4 {
    width: 40px;
    height: auto;
  }

  .lower-footer-div {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: column-reverse;
  }

  .company-copyright-text {
    line-height: 140%;
  }

  .body {
    max-width: none;
    overflow: scroll;
  }

  .our-business {
    width: 80dvw;
  }

  .get-in-touch-link {
    margin-left: auto;
    margin-right: auto;
    position: static;
  }

  .get-in-touch-link._1 {
    margin-left: 0;
    margin-right: 0;
  }

  .div-block-5 {
    margin-left: 0;
  }

  .leadership-tile.bi-sono, .leadership-tile.michael, .leadership-tile.tjhie, .leadership-tile.arvin, .leadership-tile.arvin, .why-us-card.architecture, .why-us-card.construction, .why-us-card.landscape, .why-us-card.full {
    width: 70dvw;
    height: 60dvh;
  }

  .why-us-cards-container {
    width: 80dvw;
  }

  .section-3a {
    padding-left: 10dvw;
    padding-right: 10dvw;
  }

  .frame {
    width: 75vw;
    height: auto;
    grid-column-gap: 90px;
    grid-row-gap: 90px;
    flex-direction: column;
    align-items: flex-start;
  }

  .frame.contact-us {
    height: 100%;
    margin-bottom: 50px;
    padding-left: 4dvw;
    padding-right: 0;
  }

  .frame.contact-us.enquiry {
    padding-left: 20px;
    padding-right: 20px;
    display: none;
  }

  .contact-us-header {
    font-size: 3em;
  }

  .frame-bg {
    width: 75vw;
    height: auto;
    grid-column-gap: 90px;
    grid-row-gap: 90px;
    flex-direction: column;
    align-items: flex-start;
  }

  .icon-contact {
    height: 50%;
    opacity: .75;
  }

  .section-1a.contact {
    height: 100%;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    padding-bottom: 100px;
  }

  .div-block-10 {
    flex-direction: column;
  }

  .form-block {
    padding-right: 0;
  }

  .form {
    padding-left: 10px;
    padding-right: 10px;
  }

  .submit-button {
    width: 100%;
  }

  .div-block-15.mobile {
    justify-content: flex-start;
  }

  .div-block-15.mobile.wa {
    padding-left: 2px;
  }

  .div-block-16 {
    display: none;
  }

  .div-block-17 {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 479px) {
  .hero-header {
    font-size: 2.5em;
  }

  .section-2 {
    height: auto;
    padding-top: 12svh;
    padding-bottom: 12svh;
  }

  .frame-14, .frame-18 {
    align-items: center;
  }

  .text.contact-us.inquiry {
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .section-heading {
    text-align: center;
    font-size: 1.5em;
  }

  .frame-19 {
    width: 100%;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    justify-content: space-around;
  }

  .texts {
    max-width: 100%;
    min-width: 0;
  }

  .point-frame-2 {
    width: 100%;
    max-width: 100%;
  }

  .navbar {
    width: 100dvw;
  }

  .section-3 {
    padding-top: 12svh;
    padding-bottom: 12svh;
  }

  .horizontal-frame-title {
    justify-content: center;
    font-size: 12px;
  }

  .text-2 {
    font-size: 30px;
    line-height: 110%;
  }

  .business-tile.architecture {
    width: 80dvw;
    height: 50vh;
    padding-left: 20px;
    padding-right: 80px;
  }

  .business-tile.construction, .business-tile.landscape {
    width: 80dvw;
    height: 50vh;
    padding-left: 30px;
    padding-right: 80px;
  }

  .company-frame-home, .business-title-heading-home {
    width: 100%;
  }

  .section-4 {
    padding-top: 16svh;
    padding-bottom: 20svh;
  }

  .partner-section {
    width: 100dvw;
  }

  .partners-logos-div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .section-5 {
    padding-top: 10svh;
    padding-bottom: 10svh;
  }

  .why-us-tile {
    height: 40em;
    padding: 50px 30px;
  }

  .section-6 {
    height: auto;
    padding-top: 0;
    padding-bottom: 5svh;
  }

  .frame-9 {
    padding-top: 10svh;
    padding-bottom: 10svh;
  }

  .frame-20 {
    width: 10000px;
    justify-content: center;
    transform: scale(.4);
  }

  .frame-20._1 {
    width: 10000px;
    flex-direction: row;
    transform: scale(.4);
  }

  .text-4 {
    font-size: 144px;
  }

  .footer-section {
    width: 100dvw;
    max-height: 700px;
  }

  .company-copyright-text {
    text-align: center;
    line-height: 140%;
  }

  .get-in-touch-link {
    margin-left: 5px;
    margin-right: 5px;
  }

  .get-in-touch-link._1 {
    margin-left: 5px;
    margin-right: 5px;
    position: static;
  }

  .div-block-5 {
    margin-left: 0;
  }

  .leadership-tile.bi-sono, .leadership-tile.michael, .leadership-tile.tjhie, .leadership-tile.arvin, .leadership-tile.arvin, .why-us-card.architecture, .why-us-card.construction, .why-us-card.landscape, .why-us-card.full {
    width: 75dvw;
  }

  .section-3a {
    padding-top: 12svh;
    padding-bottom: 12svh;
  }

  .feature-desc {
    max-width: 100%;
    min-width: 0;
  }

  .frame.contact-us {
    height: 100%;
  }

  .frame.contact-us.enquiry {
    align-items: center;
    padding-right: 0;
  }

  .contact-us-header {
    font-size: 3em;
  }

  .div-block-10 {
    flex-direction: column;
  }

  .form-block {
    padding-left: 10px;
    padding-right: 20px;
  }

  .form {
    padding-right: 0;
  }

  .submit-button {
    width: 100%;
  }
}


