.text-block-14 {
  width: 42svw;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 1.35svw;
  line-height: 1.8svw;
}

.text-block-14.align-center {
  text-align: center;
  width: auto;
}

.div-block-1501 {
  background-color: #fc5e53;
  height: 3svw;
  position: fixed;
}

.div-block-1499 {
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 3svw;
  display: flex;
  position: fixed;
  inset: auto 0% 0%;
}

.image-53 {
  max-width: 47svw;
  margin-bottom: 2svw;
}

.section-16 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  display: flex;
}

.text-block-15 {
  color: #fff;
  white-space: nowrap;
  margin-left: 4svw;
  margin-right: 4svw;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 1.25svw;
}

.red-label {
  z-index: 100;
  grid-column-gap: 0svh;
  grid-row-gap: 0svh;
  background-color: #fc5e53;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 200svw;
  max-width: none;
  height: 3svw;
  min-height: auto;
  max-height: none;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: relative;
  top: 0;
}

.div-block-1500 {
  height: 100svh;
}

@media screen and (min-width: 1440px) {
  .text-block-14 {
    width: 40svw;
    font-size: 1.25svw;
  }

  .image-53 {
    max-width: 45svw;
  }
}

@media screen and (max-width: 991px) {
  .text-block-14 {
    width: 60svw;
    font-size: 2svw;
    line-height: 2.5svw;
  }

  .div-block-1499 {
    height: 6svw;
  }

  .image-53 {
    max-width: 64svw;
    margin-bottom: 4svw;
  }

  .text-block-15 {
    font-size: 2svw;
  }

  .red-label {
    align-items: center;
    height: 4svw;
    min-height: auto;
    max-height: none;
    padding-left: 6svw;
    padding-right: 6svw;
  }
}

@media screen and (max-width: 767px) {
  .text-block-14 {
    width: 65svw;
    font-size: 2.8svw;
    line-height: 3.5svw;
  }

  .div-block-1499 {
    height: 7svw;
  }

  .image-53 {
    max-width: 72svw;
  }

  .text-block-15 {
    font-size: 2.25svw;
  }

  .red-label {
    height: 6svw;
  }
}

@media screen and (max-width: 479px) {
  .text-block-14 {
    width: 80svw;
    font-size: 4svw;
    line-height: 6svw;
  }

  .div-block-1499 {
    height: 15svw;
  }

  .image-53 {
    max-width: 85svw;
    margin-bottom: 8svw;
  }

  .text-block-15 {
    margin-left: 8svw;
    margin-right: 8svw;
    font-size: 3.5svw;
  }

  .red-label {
    justify-content: center;
    height: 8svw;
    padding-left: 2svw;
    padding-right: 2svw;
  }
}